# Predicción de la absorción de carbono en el océano

## Exploratory Data Analysis

In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('./data/GLODAPv2 Merged Master File.csv')

In [3]:
df.sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of        cruise  station  cast  year  month  day  hour  minute  latitude  \
0           7      970     1  1992     11   21     0       0  -48.0058
1           7      973     1  1992     11   23     0       0  -49.0092
2           7      975     1  1992     11   23     0       0  -49.5000
3           7      879     3  1992     10   18     0       0  -48.0133
4           7      964     1  1992     11   20     0       0  -48.0108
...       ...      ...   ...   ...    ...  ...   ...     ...       ...
15255     719       26     1  2006      3   21     0       0   35.8600
15256     719       23     1  2006      3   21     0       0   35.9130
15257     719       38     1  2007      5    8     0       0   35.9850
15258     719       27     1  2006      3   21     0       0   35.9110
15259     719       22     1  2006      3   21     0       0   35.8920

       longitude  ...     toc  tocf     doc  docf     don  donf     tdn  tdnf  \
0       -6.00250  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
1       -5.99083  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
2       -6.00250  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
3       -5.99833  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
4       -6.00500  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
...          ...  ...     ...   ...     ...   ...     ...   ...     ...   ...
15255   -5.97800  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
15256   -5.74300  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
15257   -5.36300  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
15258   -5.74700  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
15259   -5.73800  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9

         chla  chlaf
0     -9999.0      9
1     -9999.0      9
2     -9999.0      9
3     -9999.0      9
4     -9999.0      9
...       ...    ...
15255 -9999.0      9
15256 -9999.0      9
15257 -9999.0      9
15258 -9999.0      9
15259 -9999.0      9

[15260 rows x 101 columns]>

In [5]:
df.info

<bound method DataFrame.info of        cruise  station  cast  year  month  day  hour  minute  latitude  \
0           7      970     1  1992     11   21     0       0  -48.0058
1           7      973     1  1992     11   23     0       0  -49.0092
2           7      975     1  1992     11   23     0       0  -49.5000
3           7      879     3  1992     10   18     0       0  -48.0133
4           7      964     1  1992     11   20     0       0  -48.0108
...       ...      ...   ...   ...    ...  ...   ...     ...       ...
15255     719       26     1  2006      3   21     0       0   35.8600
15256     719       23     1  2006      3   21     0       0   35.9130
15257     719       38     1  2007      5    8     0       0   35.9850
15258     719       27     1  2006      3   21     0       0   35.9110
15259     719       22     1  2006      3   21     0       0   35.8920

       longitude  ...     toc  tocf     doc  docf     don  donf     tdn  tdnf  \
0       -6.00250  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
1       -5.99083  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
2       -6.00250  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
3       -5.99833  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
4       -6.00500  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
...          ...  ...     ...   ...     ...   ...     ...   ...     ...   ...
15255   -5.97800  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
15256   -5.74300  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
15257   -5.36300  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
15258   -5.74700  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9
15259   -5.73800  ... -9999.0     9 -9999.0     9 -9999.0     9 -9999.0     9

         chla  chlaf
0     -9999.0      9
1     -9999.0      9
2     -9999.0      9
3     -9999.0      9
4     -9999.0      9
...       ...    ...
15255 -9999.0      9
15256 -9999.0      9
15257 -9999.0      9
15258 -9999.0      9
15259 -9999.0      9

[15260 rows x 101 columns]>

In [9]:
df.columns

Index(['cruise', 'station', 'cast', 'year', 'month', 'day', 'hour', 'minute',
       'latitude', 'longitude',
       ...
       'toc', 'tocf', 'doc', 'docf', 'don', 'donf', 'tdn', 'tdnf', 'chla',
       'chlaf'],
      dtype='object', length=101)

In [11]:
df.describe()

,cruise,station,cast,year,month,day,hour,minute,latitude,longitude,...,toc,tocf,doc,docf,don,donf,tdn,tdnf,chla,chlaf
count,15260.000000,15260.000000,15260.000000,15260.000000,15260.000000,15260.000000,15260.000000,15260.000000,15260.000000,15260.000000,...,15260.000000,15260.000000,15260.000000,15260.000000,15260.000000,15260.000000,15260.000000,15260.000000,15260.000000,15260.000000
mean,347.919987,894.160550,4.064220,2001.671232,6.132831,15.874705,6.403932,16.270249,12.598935,-9.023130,...,-9906.619470,8.935780,-9086.577974,8.364220,-9957.042363,8.970642,-9538.848864,8.678899,-9672.018820,8.771101
std,190.853005,4303.049388,23.318664,5.990816,3.166003,8.897353,7.692873,19.542834,44.609750,99.627372,...,960.088711,0.667418,2886.886196,2.011593,646.546733,0.452389,2098.681720,1.464493,1778.462076,1.244990
min,7.000000,0.000000,0.000000,1990.000000,1.000000,1.000000,0.000000,0.000000,-77.960600,-179.829000,...,-9999.000000,2.000000,-9999.000000,2.000000,-9999.000000,2.000000,-9999.000000,2.000000,-9999.000000,2.000000
25%,247.000000,31.000000,1.000000,1996.000000,3.000000,8.000000,0.000000,0.000000,-28.056325,-76.202200,...,-9999.000000,9.000000,-9999.000000,9.000000,-9999.000000,9.000000,-9999.000000,9.000000,-9999.000000,9.000000
50%,314.000000,74.000000,1.000000,2002.000000,6.000000,16.000000,2.000000,5.000000,17.937450,-16.669100,...,-9999.000000,9.000000,-9999.000000,9.000000,-9999.000000,9.000000,-9999.000000,9.000000,-9999.000000,9.000000
75%,487.000000,174.250000,1.000000,2007.000000,9.000000,24.000000,13.000000,32.000000,52.733100,61.195500,...,-9999.000000,9.000000,-9999.000000,9.000000,-9999.000000,9.000000,-9999.000000,9.000000,-9999.000000,9.000000
max,719.000000,84987.000000,421.000000,2013.000000,12.000000,31.000000,23.000000,81.000000,90.000000,180.000000,...,314.000000,9.000000,198.200000,9.000000,16.760000,9.000000,49.170000,9.000000,15.830000,9.000000

In [16]:

df.isnull().sum().sort_values

cruise     0
station    0
cast       0
year       0
month      0
          ..
donf       0
tdn        0
tdnf       0
chla       0
chlaf      0
Length: 101, dtype: int64